In [2]:
import requests
import pandas as pd

# Define the API endpoint,
# Specify the fields you want to retrieve
# record_date:eq:2023-11-08
api_url = "https://api.fiscaldata.treasury.gov/services/api/fiscal_service/v1/accounting/dts/deposits_withdrawals_operating_cash?filter=record_date:eq:2023-11-08&page[size]=10000"

# Make a GET reuests to the API
response = requests.get(api_url)

# Get JSON reponses data
data = response.json()

# Assuming your data is in the 'data' key
records = data.get('data', [])

# Covert the data to a Pandas DataFrame
df = pd.DataFrame(records)

# Check the DataFrame columns
df.head()

,record_date,account_type,transaction_type,transaction_catg,transaction_catg_desc,transaction_today_amt,transaction_mtd_amt,transaction_fytd_amt,table_nbr,table_nm,src_line_nbr,record_fiscal_year,record_fiscal_quarter,record_calendar_year,record_calendar_quarter,record_calendar_month,record_calendar_day
0,2023-11-08,Treasury General Account (TGA),Deposits,Dept of Agriculture (USDA) - misc,null,5,86,464,II,Deposits and Withdrawals of Operating Cash,1,2024,1,2023,4,11,08
1,2023-11-08,Treasury General Account (TGA),Deposits,USDA - Commodity Credit Corporation,null,12,102,355,II,Deposits and Withdrawals of Operating Cash,2,2024,1,2023,4,11,08
2,2023-11-08,Treasury General Account (TGA),Deposits,USDA - Federal Crop Insurance Corp Fund,null,0,0,541,II,Deposits and Withdrawals of Operating Cash,3,2024,1,2023,4,11,08
3,2023-11-08,Treasury General Account (TGA),Deposits,USDA - Loan Repayments,null,12,105,1047,II,Deposits and Withdrawals of Operating Cash,4,2024,1,2023,4,11,08
4,2023-11-08,Treasury General Account (TGA),Deposits,Dept of Commerce (DOC),null,15,97,496,II,Deposits and Withdrawals of Operating Cash,5,2024,1,2023,4,11,08

In [3]:
# We choose Deposits from "transaction_type" column
# Filter for record with 'transaction_type' equal to 'Deposits'
deposits_records = df[df['transaction_type'] == 'Deposits']
deposits_records.head()

,record_date,account_type,transaction_type,transaction_catg,transaction_catg_desc,transaction_today_amt,transaction_mtd_amt,transaction_fytd_amt,table_nbr,table_nm,src_line_nbr,record_fiscal_year,record_fiscal_quarter,record_calendar_year,record_calendar_quarter,record_calendar_month,record_calendar_day
0,2023-11-08,Treasury General Account (TGA),Deposits,Dept of Agriculture (USDA) - misc,null,5,86,464,II,Deposits and Withdrawals of Operating Cash,1,2024,1,2023,4,11,08
1,2023-11-08,Treasury General Account (TGA),Deposits,USDA - Commodity Credit Corporation,null,12,102,355,II,Deposits and Withdrawals of Operating Cash,2,2024,1,2023,4,11,08
2,2023-11-08,Treasury General Account (TGA),Deposits,USDA - Federal Crop Insurance Corp Fund,null,0,0,541,II,Deposits and Withdrawals of Operating Cash,3,2024,1,2023,4,11,08
3,2023-11-08,Treasury General Account (TGA),Deposits,USDA - Loan Repayments,null,12,105,1047,II,Deposits and Withdrawals of Operating Cash,4,2024,1,2023,4,11,08
4,2023-11-08,Treasury General Account (TGA),Deposits,Dept of Commerce (DOC),null,15,97,496,II,Deposits and Withdrawals of Operating Cash,5,2024,1,2023,4,11,08

In [4]:
# Select specific columns 'transaction_catg' and 'transaction_today_amt'
Deposits = deposits_records[['transaction_catg', 'transaction_today_amt']]

# Clean the 'transaction_today_amt' column by removing non-numeric characters and converting to numeric
Deposits['transaction_today_amt'] = pd.to_numeric(Deposits['transaction_today_amt'])

# Treasury General Account Total Deposits
NominalDeposits = Deposits['transaction_today_amt'].iloc[-1]

# Publc Debt Cash Issues (Table IIIB)
NewDebt = Deposits['transaction_today_amt'].iloc[-2]

# Print the calcualted 'NewDebt'
print("Today Public Debt Cash Issues Deposited in TGA:", NewDebt)

# Calculated the taxes
Taxes = NominalDeposits - NewDebt

# Print the calculated 'Taxes'
print("Taxes:", Taxes)

Today Public Debt Cash Issues Deposited in TGA: 1989
Taxes: 14192

C:\Users\drebi\AppData\Local\Temp\ipykernel_44128\2927011635.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Deposits['transaction_today_amt'] = pd.to_numeric(Deposits['transaction_today_amt'])

In [5]:
# Assuming 'Deposits' is a DataFrame containing the 'transaction_today_amt' values
# Assuming you want to find the 10 rows with the largest taxes' values within all the rows excluding the last two rows

# Select the rows from the 'transaction_today_amt' column excluding last two rows
all_taxes_values = Deposits['transaction_today_amt'].iloc[0:-2]

# Find the 10 largest values within all the tax rows
top_10_largest_values = all_taxes_values.nlargest(10)

# Create a DataFrame to display the top 10 largest values
top_10_largest_df = Deposits.loc[top_10_largest_values.index]

#Print the top 10 largest values and their corresponding rows
print("Top 10 largest values within the taxes:")
top_10_largest_df

Top 10 largest values within the taxes:

                            transaction_catg  transaction_today_amt
42          Taxes - Withheld Individual/FICA                  10842
40       Taxes - Non Withheld Ind/SECA Other                    658
34                  Taxes - Corporate Income                    419
74       United States Postal Service (USPS)                    361
39  Taxes - Non Withheld Ind/SECA Electronic                    360
6                     Dept of Education (ED)                    214
17         HUD - Federal Housing Admin (FHA)                    191
51    Federal Retirement Thrift Savings Plan                    187
16  Dept of Housing & Urban Dev (HUD) - misc                    110
73     State Unemployment Insurance Deposits                    109

In [6]:
# Calculate the percentage of each row in 'top_10_largest_df' relative to 'Taxes'
top_10_largest_df['Percentage in Taxes'] = (top_10_largest_df['transaction_today_amt'] / Taxes) * 100

# Print the top 10 largest values and their corresponding percentage in 'Taxes'
print("Top 10 largest values within the taxes and their percentages in Taxes:")
top_10_largest_df

Top 10 largest values within the taxes and their percentages in Taxes:

,transaction_catg,transaction_today_amt,Percentage in Taxes
42,Taxes - Withheld Individual/FICA,10842,76.395152
40,Taxes - Non Withheld Ind/SECA Other,658,4.636415
34,Taxes - Corporate Income,419,2.952368
74,United States Postal Service (USPS),361,2.543687
39,Taxes - Non Withheld Ind/SECA Electronic,360,2.536640
6,Dept of Education (ED),214,1.507892
17,HUD - Federal Housing Admin (FHA),191,1.345829
51,Federal Retirement Thrift Savings Plan,187,1.317644
16,Dept of Housing & Urban Dev (HUD) - misc,110,0.775085
73,State Unemployment Insurance Deposits,109,0.768038

In [8]:
# We choose Withdrawals from "transaction_type" column
# Filter for record with 'transaction_type' equal to 'Withdrawals'

withdrawals_record = df[df['transaction_type'] == 'Withdrawals']
withdrawals_record.head()

,record_date,account_type,transaction_type,transaction_catg,transaction_catg_desc,transaction_today_amt,transaction_mtd_amt,transaction_fytd_amt,table_nbr,table_nm,src_line_nbr,record_fiscal_year,record_fiscal_quarter,record_calendar_year,record_calendar_quarter,record_calendar_month,record_calendar_day
79,2023-11-08,Treasury General Account (TGA),Withdrawals,Corporation for Public Broadcasting,null,0,0,525,II,Deposits and Withdrawals of Operating Cash,81,2024,1,2023,4,11,08
80,2023-11-08,Treasury General Account (TGA),Withdrawals,Dept of Agriculture (USDA) - misc,null,46,547,3280,II,Deposits and Withdrawals of Operating Cash,82,2024,1,2023,4,11,08
81,2023-11-08,Treasury General Account (TGA),Withdrawals,USDA - Child Nutrition,null,118,620,2917,II,Deposits and Withdrawals of Operating Cash,83,2024,1,2023,4,11,08
82,2023-11-08,Treasury General Account (TGA),Withdrawals,USDA - Commodity Credit Corporation,null,41,485,3251,II,Deposits and Withdrawals of Operating Cash,84,2024,1,2023,4,11,08
83,2023-11-08,Treasury General Account (TGA),Withdrawals,USDA - Federal Crop Insurance Corp Fund,null,175,757,3855,II,Deposits and Withdrawals of Operating Cash,85,2024,1,2023,4,11,08

In [9]:
# Select specific columns 'transaction_catg' and 'transaction_today_amt'
Withdrawals = withdrawals_record[['transaction_catg', 'transaction_today_amt']]

# Clean the 'transaction_today_amt' column by removing non-numeric characters and converting to numeric
Withdrawals['transaction_today_amt'] = pd.to_numeric(Withdrawals['transaction_today_amt'])

# Treasury General Account Total Withdrawals
NominalWithdrawals = Withdrawals['transaction_today_amt'].iloc[-1]

# This is Public Debt Cash Redemp. (Table IIIB)
DebtRedemption = Withdrawals['transaction_today_amt'].iloc[-2]

# Print the calculated 'DebtRedemption'
print("Total Public Debt Cash Redemption Withdrawn from TGA:", DebtRedemption)

# Calculate the Expenditures
Expenditures = NominalWithdrawals - DebtRedemption

# Print the calculated 'Taxes'
print("Expenditures:", Expenditures)

Total Public Debt Cash Redemption Withdrawn from TGA: 1534
Expenditures: 44104

C:\Users\drebi\AppData\Local\Temp\ipykernel_44128\1280396617.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Withdrawals['transaction_today_amt'] = pd.to_numeric(Withdrawals['transaction_today_amt'])

In [12]:
# Assuming 'Withdrawls' is a DataFrame containing the 'transaction_today_amt' values
# Assuming you want to find the 10 rows with the largest expenditures' values within the all the rows excluded last two rows
 
# Select the rows from the 'transaction_today_amt' column excluded last two rows
all_expenditures = Withdrawals['transaction_today_amt'].iloc[0:-2]

# Find the 10 largest values within the all taxes row
top_10_largest_values = all_expenditures.nlargest(10)

# Create a DataFrame to display the top 10 largest values
top_10_largest_df = Withdrawals.loc[top_10_largest_values.index]

# Print the top 10 largest valeus and their corresponding rows
print("Top 10 largest values within the expenditures:")
top_10_largest_df

Top 10 largest values within the expenditures:

                             transaction_catg  transaction_today_amt
174                   SSA - Benefits Payments                  26785
138      Taxes - Individual Tax Refunds (EFT)                   3343
98        HHS - Grants to States for Medicaid                   3172
89               Dept of Defense (DoD) - misc                   1390
178                              Unclassified                   1166
97   HHS - Federal Supple Med Insr Trust Fund                    935
96     HHS - Federal Hospital Insr Trust Fund                    853
92                     Dept of Education (ED)                    841
126      DOT - Federal Highway Administration                    511
168  OPM - Federal Employee Insurance Payment                    406

In [13]:
# Calculate the percentage of each row in 'top_10_largest_df' relative to 'expenditures'
top_10_largest_df['Percentage in Expendtures'] = (top_10_largest_df['transaction_today_amt'] / Expenditures) * 100

# print the top 10 largest values and their corresponding percentage in 'Expenditures'
print("Top 10 largest values within the expenditures and their percentages in Expenditures:")
top_10_largest_df

Top 10 largest values within the expenditures and their percentages in Expenditures:

,transaction_catg,transaction_today_amt,Percentage in Expendtures
174,SSA - Benefits Payments,26785,60.731453
138,Taxes - Individual Tax Refunds (EFT),3343,7.579811
98,HHS - Grants to States for Medicaid,3172,7.192091
89,Dept of Defense (DoD) - misc,1390,3.151642
178,Unclassified,1166,2.643751
97,HHS - Federal Supple Med Insr Trust Fund,935,2.119989
96,HHS - Federal Hospital Insr Trust Fund,853,1.934065
92,Dept of Education (ED),841,1.906857
126,DOT - Federal Highway Administration,511,1.158625
168,OPM - Federal Employee Insurance Payment,406,0.920551

In [14]:
# Define the specified items
specified_items = [
    'Taxes - Business Tax Refunds (Checks)',
    'Taxes - Business Tax Refunds (EFT)',
    'Taxes - Individual Tax Refunds (Checks)',
    'Taxes - Individual Tax Refunds (EFT)'
]

# Filter the 'Withdrawals' DataFrame to select rows with the specified items
specified_withdrawals = Withdrawals[Withdrawals['transaction_catg'].isin(specified_items)]

# Calcualte the total amount of these specified items
total_specified_withdrawals = specified_withdrawals['transaction_today_amt'].sum()

# Calculate the total amount of all expenditures (excluding the last two rows)
total_expenditures = all_expenditures.sum()

# Calculate the percentage of the specified items in relation to all expenditures
percentage_in_expenditures = (total_specified_withdrawals / total_expenditures) * 100

# Print the total amount and percentage
print("Total amount of specified items in withdrawals:", total_specified_withdrawals)
print("Total amount of all expenditures:", total_expenditures)
print("Percentage of specified items in expenditures:", percentage_in_expenditures)

Total amount of specified items in withdrawals: 3346
Total amount of all expenditures: 44104
Percentage of specified items in expenditures: 7.5866134590966805

In [15]:
Debt=NewDebt-DebtRedemption
# Print the calculated 'DebtRedemption'
print("Total Public Debt Net Cash in TGA:", Debt)

Total Public Debt Net Cash in TGA: 455